# Specify cloud provider
provider "google" {
    project = "{{ project_name }}"
    region = "us-central1"
    zone = "us-central1-a"
}

terraform {
  # remote state to be stored in google cloud bucket
  backend "gcs" {
      bucket = "{{ bucket_name }}"
      prefix = "workspaces"
  }
}

resource "google_compute_instance" "tf-remote-backend-test-mandkulk" {
  provider = google
  name = "tf-remote-backend-test-mandkulk"
  machine_type = "e2-micro"
  network_interface {
    network = "default"
  }
  boot_disk {
    initialize_params {
      image = "ubuntu-os-cloud/ubuntu-2004-focal-v20220712"
    }
  }
  allow_stopping_for_update = true
  labels = {
    owner = "mandkulk"
    environment = "cloud-content-test"
  }
}
